
<div class="mt-5 text-center position-absolute center-element">
    <h2 class="text-info">BIENVENUE AU PORTAIL DE VACCINATION CONTRE LA COVID 19</h2>
    <img src="../../../assets/box-img2.jpeg" width="250" height="250">
    <p class="paragraph-margining">
       Accéder à votre espace citoyen pour modifier toutes vos informations
    </p>
    <a class="btn btn-danger" [routerLink]="['me']" role="button" aria-pressed="true">Accéder à l'espace citoyen</a>


   
    <p class="paragraph-margining">
        Vous pouvez aussi consulter la liste de vos reservations ainsi que les pass de vaccination que vous détenez
    </p>
    <a class="btn btn-danger" [routerLink]="['/me/appointment']" role="button" aria-pressed="true">Check Appointments</a>

   
</div>